### 1) Import libraries

In [1]:
# Data preprocessing
import pandas as pd

# Efficient linear algebra
import numpy as np

# ML modelling
from sklearn.ensemble import RandomForestRegressor, AdaBoostRegressor, ExtraTreesRegressor, GradientBoostingRegressor
from sklearn.svm import LinearSVR
from sklearn.cross_validation import KFold;

# Train-Dev Set Split
from sklearn.model_selection import train_test_split

# Visualizations
import seaborn as sns
import matplotlib.pyplot as plt

%matplotlib inline

/Users/cbartolm/anaconda/envs/cs230/lib/python3.5/site-packages/sklearn/cross_validation.py:41: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. Also note that the interface of the new CV iterators are different from that of this module. This module will be removed in 0.20.
  "This module will be removed in 0.20.", DeprecationWarning)

In [2]:
# Ignore warnings
import warnings
warnings.filterwarnings('ignore')

### 2) Load data (Train and Test sets from assignment 1)

In [4]:
open_df = pd.read_csv("../datasets_stanford/merged_train_2016.csv")
donttouch_df = pd.read_csv("../datasets_stanford/merged_test_2016.csv")

# Store our passenger ID for easy access
parcelIDs = open_df['parcelid']

In [5]:
open_df.head(3)

,parcelid,logerror,transactiondate,airconditioningtypeid,architecturalstyletypeid,basementsqft,bathroomcnt,bedroomcnt,buildingclasstypeid,buildingqualitytypeid,...,numberofstories,fireplaceflag,structuretaxvaluedollarcnt,taxvaluedollarcnt,assessmentyear,landtaxvaluedollarcnt,taxamount,taxdelinquencyflag,taxdelinquencyyear,censustractandblock
0,11054876,-0.0274,2016-12-09,NaN,NaN,NaN,2.0,3.0,NaN,7.0,...,NaN,NaN,177000.0,500000.0,2015.0,323000.0,6327.16,NaN,NaN,6.037117e+13
1,17180948,-0.0274,2016-05-23,NaN,NaN,NaN,2.0,4.0,NaN,NaN,...,1.0,NaN,192776.0,321293.0,2015.0,128517.0,3842.78,NaN,NaN,6.111004e+13
2,11712463,-0.0070,2016-01-05,NaN,NaN,NaN,2.0,3.0,NaN,4.0,...,NaN,NaN,55871.0,87872.0,2015.0,32001.0,3449.38,NaN,NaN,6.037236e+13

In [6]:
open_df.shape

(72220, 60)

Let's split *open_df* in two halves: The training set (80% of *open_df*) and the dev set (20% of *open_df*)

In [7]:
# Create Training-Dev datasets (80-20% split)
train_df, dev_df = train_test_split(open_df, test_size=0.2, random_state=42)

In [8]:
print("Shape of training dataset", train_df.shape)
print("Type of train_df", type(train_df))

Shape of training dataset (57776, 60)
Type of train_df <class 'pandas.core.frame.DataFrame'>

In [9]:
print("Shape of dev-set", dev_df.shape)
print("Type of dev_df", type(dev_df))

Shape of dev-set (14444, 60)
Type of dev_df <class 'pandas.core.frame.DataFrame'>

### Data preprocessing

In [10]:
# Create indicator feature for covariates that have lots of missing data: Is there a value? (Y/N)
train_df['has_pool'] = train_df["poolcnt"].apply(lambda x: 0 if np.isnan(x) else 1).astype(float)
train_df['has_airconditioning'] = train_df["airconditioningtypeid"].apply(lambda x: 0 if np.isnan(x) else 1).astype(float)
train_df['has_basement'] = train_df["basementsqft"].apply(lambda x: 0 if np.isnan(x) else 1).astype(float)
train_df['has_hottuborspa'] = train_df["hashottuborspa"].apply(lambda x: 0 if np.isnan(x) else 1).astype(float)

print("Shape of expanded training set: ", train_df.shape)

Shape of expanded training set:  (57776, 64)

In [11]:
# Columns needed to be fused in one
train_df['yardbuildingsqft17'] = train_df['yardbuildingsqft17'].apply(lambda x: 0 if np.isnan(x) else x).astype(float)
train_df['yardbuildingsqft26'] = train_df['yardbuildingsqft26'].apply(lambda x: 0 if np.isnan(x) else x).astype(float)
train_df['yard_building_square_feet'] = train_df['yardbuildingsqft17'].astype(int) + train_df['yardbuildingsqft26'].astype(float)

print("Shape of expanded training set: ", train_df.shape)

Shape of expanded training set:  (57776, 65)

In [12]:
# Assume some more friendly feature names
train_df.rename(columns={'fireplacecnt':'fireplace_count'}, inplace=True)
train_df.rename(columns={'bedroomcnt':'bedroom_count'}, inplace=True)
train_df.rename(columns={'bathroomcnt':'bathroom_count'}, inplace=True)
train_df.rename(columns={'calculatedfinishedsquarefeet':'square_feet'}, inplace=True)
train_df.rename(columns={'garagecarcnt':'garage_car_count'}, inplace=True)
train_df.rename(columns={'garagetotalsqft':'garage_square_feet'}, inplace=True)
train_df.rename(columns={'hashottuborspa':'has_hottub_or_spa'}, inplace=True)

train_df.rename(columns={'landtaxvaluedollarcnt':'land_tax'}, inplace=True)
train_df.rename(columns={'lotsizesquarefeet':'lot_size_square_feet'}, inplace=True)
train_df.rename(columns={'taxvaluedollarcnt':'tax_value'}, inplace=True)
train_df.rename(columns={'taxamount':'tax_amount'}, inplace=True)
train_df.rename(columns={'structuretaxvaluedollarcnt':'structure_tax_value'}, inplace=True)
train_df.rename(columns={'yearbuilt':'year_built'}, inplace=True)

train_df.rename(columns={'roomcnt':'room_count'}, inplace=True)

In [13]:
# Impute zero for NaN for these features
train_df['fireplace_count'] = train_df['fireplace_count'].apply(lambda x: 0 if np.isnan(x) else x).astype(float)

# Impute median value for NaN for these features
train_df['bathroom_count'] = train_df['bathroom_count'].fillna(train_df['bathroom_count'].median()).astype(float)
train_df['bedroom_count'] = train_df['bedroom_count'].fillna(train_df['bedroom_count'].median()).astype(float)
train_df['room_count'] = train_df['room_count'].fillna(train_df['room_count'].median()).astype(float)

train_df['tax_amount'] = train_df['tax_amount'].fillna(train_df['tax_amount'].median()).astype(float)
train_df['land_tax'] = train_df['land_tax'].fillna(train_df['land_tax'].median()).astype(float)
train_df['tax_value'] = train_df['tax_value'].fillna(train_df['tax_value'].median()).astype(float)
train_df['structure_tax_value'] = train_df['structure_tax_value'].fillna(train_df['structure_tax_value'].median()).astype(float)
train_df['garage_square_feet'] = train_df['garage_square_feet'].fillna(train_df['garage_square_feet'].median()).astype(float)
train_df['garage_car_count'] = train_df['garage_car_count'].fillna(train_df['garage_car_count'].median()).astype(float)
train_df['fireplace_count'] = train_df['fireplace_count'].fillna(train_df['fireplace_count'].median()).astype(float)
train_df['square_feet'] = train_df['square_feet'].fillna(train_df['square_feet'].median()).astype(float)
train_df['year_built'] = train_df['year_built'].fillna(train_df['year_built'].median()).astype(float)
train_df['lot_size_square_feet'] = train_df['lot_size_square_feet'].fillna(train_df['lot_size_square_feet'].median()).astype(float)

train_df['longitude'] = train_df['longitude'].fillna(train_df['longitude'].median()).astype(float)
train_df['latitude'] = train_df['latitude'].fillna(train_df['latitude'].median()).astype(float)

In [14]:
# Drop indistinct features
drop_elements = ['assessmentyear']

# Drop any columns insufficiently described
drop_elements = drop_elements + ['airconditioningtypeid', 'basementsqft', 'architecturalstyletypeid', 'buildingclasstypeid', 'buildingqualitytypeid', 'calculatedbathnbr', 'decktypeid', 'finishedfloor1squarefeet',
                 'fips', 'heatingorsystemtypeid', 'rawcensustractandblock',
                 'numberofstories', 'storytypeid', 'threequarterbathnbr', 'typeconstructiontypeid', 'unitcnt', 'censustractandblock', 'fireplaceflag', 'taxdelinquencyflag', 'taxdelinquencyyear',
                ]

# Drop any duplicated columns
drop_elements = drop_elements + ['fullbathcnt', 'finishedsquarefeet6', 'finishedsquarefeet12', 'finishedsquarefeet13', 'finishedsquarefeet15', 'finishedsquarefeet50', 'yardbuildingsqft17', 'yardbuildingsqft26']

# Land use data
drop_elements = drop_elements + ['propertycountylandusecode', 'propertylandusetypeid', 'propertyzoningdesc']

# We'll make do with a binary feature here
drop_elements = drop_elements + ['pooltypeid10', 'pooltypeid2', 'pooltypeid7', 'poolsizesum', 'poolcnt']

# We'll use the longitude and latitutde as features 
drop_elements = drop_elements + ['regionidzip', 'regionidneighborhood', 'regionidcity', 'regionidcounty']

print("dropping features", drop_elements)

train_df = train_df.drop(drop_elements, axis = 1)

dropping features ['assessmentyear', 'airconditioningtypeid', 'basementsqft', 'architecturalstyletypeid', 'buildingclasstypeid', 'buildingqualitytypeid', 'calculatedbathnbr', 'decktypeid', 'finishedfloor1squarefeet', 'fips', 'heatingorsystemtypeid', 'rawcensustractandblock', 'numberofstories', 'storytypeid', 'threequarterbathnbr', 'typeconstructiontypeid', 'unitcnt', 'censustractandblock', 'fireplaceflag', 'taxdelinquencyflag', 'taxdelinquencyyear', 'fullbathcnt', 'finishedsquarefeet6', 'finishedsquarefeet12', 'finishedsquarefeet13', 'finishedsquarefeet15', 'finishedsquarefeet50', 'yardbuildingsqft17', 'yardbuildingsqft26', 'propertycountylandusecode', 'propertylandusetypeid', 'propertyzoningdesc', 'pooltypeid10', 'pooltypeid2', 'pooltypeid7', 'poolsizesum', 'poolcnt', 'regionidzip', 'regionidneighborhood', 'regionidcity', 'regionidcounty']

In [15]:
print("Shape of the modified training set: ", train_df.shape)

Shape of the modified training set:  (57776, 24)

In [16]:
train_df.head(5)

,parcelid,logerror,transactiondate,bathroom_count,bedroom_count,square_feet,fireplace_count,garage_car_count,garage_square_feet,has_hottub_or_spa,...,year_built,structure_tax_value,tax_value,land_tax,tax_amount,has_pool,has_airconditioning,has_basement,has_hottuborspa,yard_building_square_feet
15071,12456771,0.0953,2016-03-01,1.0,2.0,895.0,0.0,2.0,431.0,NaN,...,1938.0,47262.0,153694.0,106432.0,2050.01,0.0,0.0,0.0,0.0,0.0
12154,14683421,-0.2219,2016-04-29,2.0,2.0,1494.0,0.0,1.0,0.0,NaN,...,1978.0,118644.0,485664.0,367020.0,5004.30,0.0,1.0,0.0,0.0,0.0
27687,11203011,0.0998,2016-05-09,3.0,3.0,1661.0,0.0,2.0,431.0,NaN,...,2008.0,129600.0,162000.0,32400.0,3798.30,0.0,1.0,0.0,0.0,0.0
41103,14098214,0.0497,2016-12-08,1.0,2.0,764.0,0.0,1.0,260.0,NaN,...,1948.0,41060.0,518630.0,477570.0,6140.32,0.0,0.0,0.0,0.0,0.0
62131,17148736,-0.0080,2016-04-27,2.0,4.0,1466.0,1.0,2.0,481.0,NaN,...,1962.0,167778.0,335556.0,167778.0,4114.20,0.0,0.0,0.0,0.0,215.0